@use "./App.scss";

.center-container > form {
  text-align: center;
  padding: 0.5rem 2rem;
  height: 80%;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.05);

  h1 {
    margin-bottom: 1rem;
  }

  .button-navigate {
    @extend .button-global;
    font-size: 1.25rem;
    &:hover {
      font-size: 1.3rem;
    }
  }

  .button-save-changes {
    @extend .cta-button;
    padding: 1rem;
    margin: 3rem auto 0.5rem auto;
  }
}

.edit-ingredients-container {
  max-height: 16%;
  height: 16%;
  overflow-y: auto;
  margin-left: 20px;
}

.edit-splitter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
